body
{
    background-color: #15E595;
	font: Verdana;
	font-size: 18px;
	font-weight: bold;
}

h1 a
{
    font-size: 25px;
}

div
{
    font-size: 20px;
    color: purple;
}

textarea
{
    background-color:#f0f0f0;
    opacity: 0.5;
}
